<div class="bg-gray-100 w-1/2 rounded px-6 py-3 mx-auto mt-20">
  <div class="border-l-4 border-red-400 -ml-6 pl-6 flex items-center justify-between my-4 py-2">
    <div class="font-semibold text-gray-800">Another rooms</div>
    <div class="text-red-400"><%= link_to '戻る', :back, class: 'bg-gray-500 text-white p-2 rounded-xl cursor-pointer' %></div>
  </div>
  <hr class="-mx-6" />
  <% @rooms.each do |room| %>
  <div class="flex items-center justify-between my-4">
    <div class="w-16">
      <% if User::find(room.userId).profile_image %>
      <%= image_tag User::find(room.userId).profile_image.url, class: 'w-12 h-12 rounded-full' %>
      <% else %>
      <%= image_tag 'user.jpg', class: 'w-12 h-12 rounded-full' %>
      <% end %>
    </div>
    <div class="flex-1 pl-2">
      <div class="text-gray-700 font-semibold">
        <%= room.name %>
      </div>
    </div>
    <div><%= link_to 'チャットする', show_room_path(room.id), class: 'bg-indigo-500 text-white p-2 rounded-xl cursor-pointer' %></div>
  </div>
  <% end %>
</div>
